html,body {height:auto; padding:0; margin:0; border: 0; font-family:'Arial'; font-size:100%; }
a{background:none !important}
#main-wrap{
	width:100%;
	height:100%;
	height:auto;
	background:url('images/main_bg.jpg') 0 0 no-repeat;
	background-size:auto;
	padding-bottom:100px;
}

#content-wrap{
	max-width:980px;
	width:auto;
	height:auto;
	padding:10px;
	margin:0 auto;
	background:rgba(255,255,255,0.5);
	border:1px solid white;
	position:relative
}

#header-wrap{
	width:100%;
	height:135px;
	padding:0;
	margin:0 0 10px;
	position:relative;
	
}

#header-wrap .logo{
	display:block;
	width:249px;
	height:106px;
	position:absolute;
	left:0;
	bottom:0
}

#header-wrap .nav-wrap{
	width:73%;
	height:52px;
	position:absolute;
	bottom:0;
	right:0;
	border:1px solid white;
	background:#018091;
	
}
.navbar-toggle {
  margin: 4px 0 0 20px !important;
  background:#61929c;
  border: 1px solid #61929c;
  border-radius: 4px;
  z-index:11;
  float:left
}

.sub.navbar-collapse.in{position:relative; z-index:99999; width:100%; }
/*.sub.navbar-collapse.in #menu-header-nav li{float:left; border-left:none}*/

.navbar-toggle .icon-bar {background:#fff; display: block; width: 26px; height: 2px; border-radius: 1px;}
.nav-justified{width:auto !important; float:left}
.container-fluid, .navbar-collapse{padding:0 !important; margin:0 !important; width:auto; float:left}

.navbar-form{max-width:190px; width:auto; float:right; padding:0; margin:7px 5px 0 0}
.navbar-form input{max-width:170px; width:auto;}

#main-content-wrap{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	margin-bottom:100px
}

#footer-wrap{
	width:100%;
	min-height:145px;
	position:absolute;
	bottom:0;
	left:0;
	background:linear-gradient(to bottom, #000d0e, #006071);
	z-index:1;
}

.navbar .nav ul{height:50px}
.navbar .nav li{width:auto !important; height:50px !important; position:relative; border-left:1px solid white}
.navbar .nav li:first-child{border-left:none}
.navbar .nav a{display:block; height:47px; line-height:49px; font-size:18px; color:#fff; font-weight:bold; padding:0 15px !important}
.navbar .nav a:hover{background:none}

.row{margin-left:0 !important; margin-right:0 !important}
.column-nav{background:#018091; padding:40px 0 40px 10px}
.column-nav .nav li a{font-family: 'Cuprum', sans-serif; font-size:18px; font-weight:400; color:#fff; text-align:right; padding:3px 10px !important}
.column-nav .nav > li:hover a, .current-page-ancestor a{background:#ff6423; border-radius:0 !important}

.sub-menu{
	display:none;
	position:absolute;
	top:2px;
	left:100%;
	background:#018091;
	border:1px solid white;
	list-style:none;
	padding:10px;
	max-width:230px;
	width:auto;
	z-index:99999
}
.sub-menu li{margin:3px 0; padding:3px; width:100%; }
.sub-menu li a{display:block; width:100%; background:none !important; text-align:left}
.sub-menu li a:hover{text-decoration:none}
.menu-item-has-children:hover .sub-menu{display:block}
.sub-menu li:hover{background:#ff6423; border-radius:0}

.main-content{background:#fff; border-left:10px solid #ff6423 !important; padding:10px; font-size:14px; color:#018091}
.sidebar{padding-left:10px !important; padding-right:0 !important}
.sidebar img{max-width:100%; width:auto}

@media (max-width: 998px) {
	.navbar .nav a{font-size:15px}
}
@media (max-width: 950px) {
	.navbar .nav a{padding:0 10px !important}
	#header-wrap .logo{width:25% !important; height:auto !important}
	#header-wrap .logo img{max-width:100%; width:auto}
	#header-wrap .logo{top:0 !important; bottom:none}
}
@media (max-width: 845px) {
	.navbar .nav a{padding:0 5px !important}
	.navbar-form{max-width:160px;}
	.navbar-form input{max-width:140px;}
}
@media (max-width: 780px) {
	.nav-wrap{right:none; left:0 !important; width:100% !important}
	.navbar .nav a{padding:0 15px !important}
}
@media (max-width: 768px) {
	.navbar .nav li{float:left; border-left:none}
	/*.container-fluid{width:100% !important}*/
	.sub.navbar-collapse.in{margin-top:4px !important; background:#018091; border:1px solid white; width:100%; overflow:visible}
	.navbar-form{position:absolute; right:0; max-width:220px;}
	.navbar-form input{max-width:200px;}
	.sub-menu{position:inherit; left:0; max-width:100% !important}
}